.layout-wrapper {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.layout-main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  min-width: 0;
}

.layout-main {
  flex: 1;
  padding: 1.5rem;
  overflow-y: auto;
  background-color: #f8fafc;
  transition: background-color 0.3s;
}

/* Dark Mode */
:host-context(.dark-mode) .layout-main {
  background-color: #0f172a;
}
