.layout-wrapper {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.layout-main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.layout-main {
  flex: 1;
  padding: 1.5rem;
  overflow-y: auto;
  background-color: var(--p-surface-50);
}
